<div class="carousel-wrapper">
<div class="main-carousel" data-flickity='{ "cellAlign": "center", "contain": true, "initialIndex":1, "wrapAround": false }'>
  <div class="carousel-cell">
  A<br>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.
  </div>
  <div class="carousel-cell">
  B<br>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.
  </div>
  <div class="carousel-cell">
  C<br>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.
  </div>
  <div class="carousel-cell">
  D<br>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.
  </div>
</div>
</div>

<div class="bgvidcontainer">   
</div>
<script>
function startTime() {
	var vid = document.getElementById("pretzel-video");
	vid.playbackRate = Math.abs(1+(Math.random()-0.5)*1.0);
	vid = document.getElementById("pretzel-video-2");
	r = Math.abs(1+(Math.random()-0.25)*0.1);
	vid.playbackRate = r;
	vid = document.getElementById("pretzel-video-3");
	vid.playbackRate = r;

    var t = setTimeout(startTime, 5000);
}
startTime();
</script>

<header>

	<video id="pretzel-video" class="video-playing" playsinline autoplay muted loop>
	  <source src="//a0.muscache.com/airbnb/static/Paris-P1-1.mp4" type="video/mp4">
	  <source src="//a0.muscache.com/airbnb/static/Paris-P1-0.webm" type="video/webm">
	</video>
	<video id="pretzel-video-2" class="video-playing" playsinline autoplay muted loop>
	  <source src="//a0.muscache.com/airbnb/static/Paris-P1-1.mp4" type="video/mp4">
	  <source src="//a0.muscache.com/airbnb/static/Paris-P1-0.webm" type="video/webm">
	</video>
	<video id="pretzel-video-3" class="video-playing" playsinline autoplay muted loop>
	  <source src="//a0.muscache.com/airbnb/static/Paris-P1-1.mp4" type="video/mp4">
	  <source src="//a0.muscache.com/airbnb/static/Paris-P1-0.webm" type="video/webm">
	</video>	
	

    <h1>ZIGGY
	<div id="bg_pattern"></div>
	</h1>


      <nav>
        <a href="#">Men</a>
        <a href="#">Women</a>
        <a href="#">Stores</a>
        <a href="#">Contact</a>
      </nav>
</header>

<div id="fashion">
  <h2>Gehirne</h2>
<a onclick="send()">AJAX</a>
</div>

<div id="Benn">
abc
</div>

<div id="container">
    <div id="left"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam adipiscing massa lacus.</p></div>
    <div id="right"><p>Proin nec enim vel orci pulvinar sollicitudin. Ut semper quam non felis bibendum sit amet dignissim lorem mattis. Suspendisse id posuere magna.</p>
        
        <div id="width100PercentTest"></div>
        
        <p>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.</p>
		
		<p>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.</p>
		<p>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.</p>
		<p>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.</p>
		<p>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.</p>
		<p>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.</p>
		<p>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.</p>
		<p>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.</p>
		
    </div>
</div>
