/*@import url('http://getbootstrap.com/dist/css/bootstrap.css');*/ 

html, body
{
	padding: 0;
	margin: 0;		
}
body
{
	background-color: #ffe;
	font-family: Helvetica, Arial, Verdana;
	/*font-family: "Crimson Text", "Times New Roman", Georgia, Serif;*/
	font-size: 14px;
	line-height: 14	px;
	color: #666;
	position: relative;
	-webkit-text-size-adjust: none;
	text-align: justify;
	
}

body *
{
	text-shadow: none;	
	border-style: none;
	border-width: thin;
}
.content {
	background: linear-gradient(135deg, #ffe, #fef);
	border: 10px solid #aaa;
	overflow: hidden;
	text-overflow: ellipsis;  
	background: white;
}

.no-break {
	display:inline
}
.menu-item {
	background: linear-gradient(0deg, #ddc, #ffe);
	margin: 2px;
	border-style: outset;
	border-width: thin;
	border-color: whitesmoke;
}

.menu-item-active {
	background: linear-gradient(180deg, #eea, #ffd);
	margin: 2px;
	border-style: inset;
	border-width: thin;
	border-color: whitesmoke;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: bold;
	margin: 0px 0 0px 0;
	text-align: center;
	vertical-align:middle;
	color: white;
	height: 30px;
	line-height: 30px;
}

h1
{
	font-size: 20px;
	background: linear-gradient(135deg, #777, #888);
}

h2, h3, h4, h5, h6
{
	font-size: 18px;
	background: linear-gradient(135deg, #AAA, #AAA);
	color: black;
}
p
{
	margin: 10px 10px 10px 10px;
}
a, a:link, a:active, a:visited, a:hover
{
	color: inherit;
	text-decoration: none;s	
}

/* mm-menu*/
nav:not(.mm-menu)
{
	display: none;
}

.header,
.footer
{
	text-align: center;
}
.header,
.footer
{
	background: #777;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 40px;


	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width: 100%;
	height: 40px;
	padding: 0 50px;
}
.header.fixed
{
	position: fixed;
	top: 0;
	left: 0;
}
.footer.fixed
{
	position: fixed;
	bottom: 0;
	left: 0;
}
.header a
{
	display: block;
	width: 28px;
	height: 18px;
	padding: 11px;
	position: absolute;
	top: 0;
	left: 0;
}
.header a:before,
.header a:after
{
	content: '';
	display: block;
	background: #eff;
	height: 2px;
}
.header a span
{
	background: #fff;
	display: block;
	height: 2px;
	margin: 6px 0;
}
.content
{
	padding: 0px 0px 0px 0px;
}


/* flickity*/
.carousel-container {
  
  width: 100%;
  height: 100%;
  background: transparent;
}
.main-carousel {
	height: 100%;
}
.carousel-cell {
  width: 100%; 
  height: 100%;

  /*background: linear-gradient(135deg, silver, white);*/
  background: transparent;
}/* big buttons, no circle */
/* dots are lines */
.flickity-page-dots .dot {
  height: 1px;
  width: 1px;
  margin: 0;
  border-radius: 0;
  display: none;
}
/* big buttons, no circle */
.flickity-prev-next-button {
  width: 1px;
  height: 1px;
  background: transparent;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
  display: none;
  background: transparent;
}
.flickity-prev-next-button.no-svg {
  color: white;
  display: none;
  background: transparent;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
  background: transparent;
}

/*isotope*/
#isotope-container {
	width:100%;
	height:auto;
	border: 1px solid #faf;	
	display: inline-block;
}

div.stretchy-wrapper {
  position: relative;
  background: linear-gradient(135deg, #fee, white);
}

div.stretchy-wrapper > div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.grid-sizer,
.grid-item {
  float: left;  
  width:100%;  
  height: 50vw; 
  background: WhiteSmoke;
  /*background: linear-gradient(134deg, #eee, white);*/
  border: 10px solid white;
  overflow: hidden;
  text-overflow: ellipsis;  
  flex:1;
}

/*Search results*/
.search-result {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 0px solid #AAA;
  background-color: black;  
  text-align: left;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;  
}
.search-result-blend {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 84, 140, 1);
    /* ^ fallbacks for crappy IE ^ */

    /*background: -webkit-radial-gradient(center, ellipse cover,     rgba(36,138,166,1) 0%,rgba(21,112,145,1) 42%,rgba(5,58,103,1) 100%);*/
    background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(0,0,0,0.05) 82%,rgba(0,0,0,1) 100%);  
    background-blend-mode: screen;
	box-shadow: inset 0px 40px 40px 0px rgba(0,0,0,15);
}

#bg {
  position: fixed; 
  top: 0%; 
  left: 0%; 
  width: 100%; 
  height: 100%;
}
#bg img {
  position: absolute; 
  width: 100%;
  
  margin: auto auto;
}

