<script type="text/javascript">
$(document).ready(function(){
 $("#msgid").html("This is Hello World by JQuery");
});
</script>

<div id="msgid">
</div>
<div class="widget">
<h1>{{title}}</h1>

<i>Get (process_get)</i>
<form action="process_get" method="GET">
First Name: <input type="text" name="first_name"> <br>
Last Name: <input type="text" name="last_name">
<br>
<input type="submit" value="Get">
</form>
<br>
<i>Send</i>
<form action="http://127.0.0.1:3000/process_post" method="POST">
First Name: <input id="a" type="text" name="first_name"> <br>
Last Name: <input id="b" type="text" name="last_name">
<br>
<input type="submit" value="Send">
</form>
<br>
<i>Get time series</i>
<form action="http://127.0.0.1:3000/get_timeseries" method="GET">
Year: <input type="text" name="year"><input type="submit" value="Get">
<br>
</form>
<div id="test">
b
</div>

<script>
function test() {$('#test').html('first_name='+$('#a').val()+'&last_name='+$('#b').val());}
</script>

<a onclick="test()">Update</a>


<!--Init Dialog-->
<div id="dialog" title="{{title}}"></div>
<script type="text/javascript">
  jQuery( document ).ready( function() {
    jQuery( '#dialog' ).dialog( { 'autoOpen': false } );
  });
</script>


<script>
function send()
{
	$.ajax
	({
	  type: "POST",
	  url: "http://localhost:3000/",
	  crossDomain:true, 
	  dataType: "json",
	  contentType: 'application/json; charset=UTF-8',
	  data:JSON.stringify({first_name: $('#a').val(), last_name: $('#b').val()})
	 }).done(function ( data ) {
		//alert("ajax callback response:"+JSON.stringify(data));
		jQuery('#dialog').dialog('open');
		jQuery('#dialog').text("ajax callback response:"+JSON.stringify(data));
		$('#test').html(data.first_name);
	  
	   })
}
</script>

<a onclick="send()">AJAX</a>

</div>